In [3]:
#Q1

from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [13]:
driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
#element = driver.find_element_by_xpath("//a[@class='mw-redirect']")
#element.text
Ranks = []
Names = []
Artists = []
Upload_dates = []
View = []

rank_tag=driver.find_elements_by_xpath('td')
for i in rank_tag[0:10]:
    Ranks.append(i.text)

titles=driver.find_elements_by_xpath("//a[@class='mw-redirect']")
for i in titles[0:10]:
    Names.append(i.text)
    
Artists_tags=driver.find_elements_by_xpath("//th[@class='headerSort headerSortUp']")
for i in Artists_tags[0:10]:
    Artists.append(i.text)
    
Upload_dates_tag=driver.find_elements_by_xpath('td')
for i in Upload_dates_tag[0:10]:
    Upload_dates.append(i.text)

youtube_data=pd.DataFrame({})
youtube_data['Rank']=Ranks
youtube_data['NAme']= Names
youtube_data['Artist']= Artists == 10
youtube_data['Upload_date']=Upload_dates == 10
#youtube_data['Location']=Locations


convert = pd.DataFrame(youtube_data)
convert.to_csv("youtube_data.csv")

a = pd.read_csv("youtube_data.csv")
print(a)

   Unnamed: 0  Rank                        NAme  Artist  Upload_date
0           0   NaN                music videos   False        False
1           1   NaN            Baby Shark Dance   False        False
2           2   NaN        Johny Johny Yes Papa   False        False
3           3   NaN  Cocomelon – Nursery Rhymes   False        False
4           4   NaN  Cocomelon – Nursery Rhymes   False        False
5           5   NaN  Cocomelon – Nursery Rhymes   False        False
6           6   NaN            Baby Shark Dance   False        False
7           7   NaN            Baby Shark Dance   False        False
8           8   NaN        Johny Johny Yes Papa   False        False
9           9   NaN            Baby Shark Dance   False        False

In [21]:
#Q7

import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import ElementNotInteractableException
driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")

driver.get('https://www.naukri.com/')

try:
    search_recruiters = driver.find_element_by_xpath("//div[@class='mTxt']")
    search_recruiters.click()
except ElementNotInteractableException as e:
    print("exception raised" , e)

In [31]:
url= "https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)

Names=[]
Designations=[]
Companys=[]
Skills=[]
Locations=[]


titles=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in titles[0:10]:
    Names.append(i.text)

Designations_tag=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in Designations_tag[0:10]:
    Designations.append(i.text)
    
Companys_tag=driver.find_elements_by_xpath("//span[@class='ellipsis']")
for i in Companys_tag[0:10]:
    Companys.append(i.text)

Skills_tag=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in Skills_tag[0:10]:
    Skills.append(i.text)

Locations_tags=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in Locations_tags[0:10]:
    Locations.append(i.text)   
    
data=pd.DataFrame({})
data['Name']=Names
data['Designation']= Designations
data['Company']= Companys == 10
data['Skill']=Skills
data['Location']=Locations


convert = pd.DataFrame(data)
convert.to_csv("output1.csv")

a = pd.read_csv("output1.csv")
print(a)

   Unnamed: 0              Name                        Designation  Company  \
0           0         CodeFlies                    Human Resources    False
1           1    Santhosh Kumar  Associate Manager Human Resources    False
2           2        Surendra R                  Company Recruiter    False
3           3      Gauri Bhosle                    Human Resources    False
4           4           Sanghvi                  Company Recruiter    False
5           5  Rohit Khandelwal                  Company Recruiter    False
6           6       Neha Pandey                  Company Recruiter    False
7           7       Vinita Raut                  Company Recruiter    False
8           8        sunny rana                          Recruiter    False
9           9            Snehal                       HR cum Admin    False

              Skill          Location
0         CodeFlies         CodeFlies
1    Santhosh Kumar    Santhosh Kumar
2        Surendra R        Surendra R
3      Gauri Bhosle      Gauri Bhosle
4           Sanghvi           Sanghvi
5  Rohit Khandelwal  Rohit Khandelwal
6       Neha Pandey       Neha Pandey
7       Vinita Raut       Vinita Raut
8        sunny rana        sunny rana
9            Snehal            Snehal

In [35]:
#Q9

import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import ElementNotInteractableException
driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")

driver.get('https://www.imdb.com/list/ls095964455/')



Names = []
Year_spans = []
Genres = []
Run_time = []
Rating = []
Vote =[]


titles=driver.find_elements_by_xpath("//h3[@class ='lister-item-header']")
for i in titles[0:10]:
    Names.append(i.text)
    
Year_spans_tag =driver.find_elements_by_xpath("//span[@class ='lister-item-year text-muted unbold']")
for i in Year_spans_tag[0:10]:
    Year_spans.append(i.text)
    
    
Genres_tag =driver.find_elements_by_xpath("//span[@class ='genre']")
for i in Genres_tag[0:10]:
    Genres.append(i.text)
    
Run_time_tag =driver.find_elements_by_xpath("//span[@class ='runtime']")
for i in Run_time_tag[0:10]:
    Run_time.append(i.text)
    
Rating_tag =driver.find_elements_by_xpath("//span[@class ='ipl-rating-star__rating']")
for i in Rating_tag[0:10]:
    Rating.append(i.text)
    
Vote_tag =driver.find_elements_by_xpath("//span[@class ='text-muted']")
for i in Vote_tag[0:10]:
    Vote.append(i.text)
    
imdb_data=pd.DataFrame({})
imdb_data['Name']=Names
imdb_data['Year_span']= Year_spans
imdb_data['Genre']= Genres
imdb_data['Run_times']=Run_time
imdb_data['Ratings']=Rating
imdb_data['Votes']=Vote


convert = pd.DataFrame(imdb_data)
convert.to_csv("imdb_data.csv")

a = pd.read_csv("imdb_data.csv")
print(a)

   Unnamed: 0                                    Name    Year_span  \
0           0          1. Game of Thrones (2011–2019)  (2011–2019)
1           1             2. Stranger Things (2016– )     (2016– )
2           2         3. The Walking Dead (2010–2022)  (2010–2022)
3           3           4. 13 Reasons Why (2017–2020)  (2017–2020)
4           4                  5. The 100 (2014–2020)  (2014–2020)
5           5  6. Orange Is the New Black (2013–2019)  (2013–2019)
6           6                   7. Riverdale (2017– )     (2017– )
7           7              8. Grey's Anatomy (2005– )     (2005– )
8           8                   9. The Flash (2014– )     (2014– )
9           9                   10. Arrow (2012–2020)  (2012–2020)

                      Genre Run_times Ratings                  Votes
0  Action, Adventure, Drama    57 min     9.2  created - 10 Oct 2019
1    Drama, Fantasy, Horror    51 min     NaN  updated - 10 Oct 2019
2   Drama, Horror, Thriller    44 min    Rate                 Votes:
3  Drama, Mystery, Thriller    60 min     NaN                 Votes:
4    Drama, Mystery, Sci-Fi    43 min     NaN                 Votes:
5      Comedy, Crime, Drama    59 min     NaN                 Votes:
6     Crime, Drama, Mystery    45 min     NaN                 Votes:
7            Drama, Romance    41 min     NaN                 Votes:
8  Action, Adventure, Drama    43 min     NaN                 Votes:
9  Action, Adventure, Crime    42 min     NaN                 Votes:

In [4]:
#Q10
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")

driver.get('https://archive.ics.uci.edu/')

try:
    search_btn = driver.find_element_by_xpath("//a[@href='datasets.php']")
    search_btn.click()
except NoSuchElementException as e:
    print("exception raised" , e)

    
Dataset_names = []
Data_types = []
Tasks= []
Attribute_types= []
No_of_instances= []
No_of_attributes= []
Years= []


titles=driver.find_elements_by_xpath("//p[@class ='normal']")
for i in titles[0:10]:
    Dataset_names.append(i.text)
    
    
Data_types_tag = driver.find_elements_by_xpath("//p[@class ='normal']")
for i in titles[0:10]:
    Data_types.append(i.text)
    
Tasks_tag=driver.find_elements_by_xpath("//p[@class ='normal']")
for i in Tasks_tag[0:10]:
    Tasks.append(i.text)
    
Attribute_types_tag=driver.find_elements_by_xpath("//p[@class ='normal']")
for i in Attribute_types_tag[0:10]:
    Attribute_types.append(i.text)
    
No_of_instances_tag=driver.find_elements_by_xpath("//p[@class ='normal']")
for i in No_of_instances_tag[0:10]:
    No_of_instances.append(i.text)

    
No_of_attributes_tag=driver.find_elements_by_xpath("//p[@class ='normal']")
for i in No_of_attributes_tag[0:10]:
    No_of_attributes.append(i.text)
    

Years_tag=driver.find_elements_by_xpath("//p[@class ='normal']")
for i in Years_tag[0:10]:
    Years.append(i.text)

ics_data=pd.DataFrame({})
ics_data['Dataset_name']= Dataset_names
ics_data['Data_type']= Data_types
ics_data['Task']= Tasks
ics_data['Attribute_type']= Attribute_types
ics_data['No_of_instance']= No_of_instances
ics_data['No_of_attribute']= No_of_attributes
ics_data['Year']= Years


convert = pd.DataFrame(ics_data)
convert.to_csv("ics_data.csv")

a = pd.read_csv("ics_data.csv")
print(a)

exception raised Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@href='datasets.php']"}
  (Session info: chrome=97.0.4692.71)
Stacktrace:
Backtrace:
	Ordinal0 [0x00306903+2517251]
	Ordinal0 [0x0029F8E1+2095329]
	Ordinal0 [0x001A2848+1058888]
	Ordinal0 [0x001CD448+1233992]
	Ordinal0 [0x001CD63B+1234491]
	Ordinal0 [0x001F7812+1406994]
	Ordinal0 [0x001E650A+1336586]
	Ordinal0 [0x001F5BBF+1399743]
	Ordinal0 [0x001E639B+1336219]
	Ordinal0 [0x001C27A7+1189799]
	Ordinal0 [0x001C3609+1193481]
	GetHandleVerifier [0x00495904+1577972]
	GetHandleVerifier [0x00540B97+2279047]
	GetHandleVerifier [0x00396D09+534521]
	GetHandleVerifier [0x00395DB9+530601]
	Ordinal0 [0x002A4FF9+2117625]
	Ordinal0 [0x002A98A8+2136232]
	Ordinal0 [0x002A99E2+2136546]
	Ordinal0 [0x002B3541+2176321]
	BaseThreadInitThunk [0x75CCFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77A87A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77A87A6E+238]
	(No symbol) [0x00000000]

Empty DataFrame
Columns: [Unnamed: 0, Dataset_name, Data_type, Task, Attribute_type, No_of_instance, No_of_attribute, Year]
Index: []

In [22]:
#Q8

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
 
driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
    
    
book_table= soup.find('table',class_ = 'in-article sortable')

for team in book_table.find_all('tbody'):
    rows = team.find_all('tr')
    for row in rows:
        book_rank = row.find('td', class_ = 'left').text.strip()
        book_name=row.find_all('td',class_ = 'left')[2].text
        Author_name=row.find_all('td',class_ = 'left')[3].text
        Volumes_sold=row.find_all('td',class_ = 'left')[4].text
        Publisher=row.find_all('td',class_ = 'left')[5].text
        Genre=row.find('td',class_ = 'last left').text
        print(book_rank,book_name,Author_name,Volumes_sold,Publisher,Genre)

        
book_data=pd.DataFrame({})
book_data['Rank']= book_rank
book_data['Name']= book_name
book_data['Author']= Author_name
book_data['Volumes']= Volumes_sold
book_data['Publisher_name']= Publisher
book_data['Genres']= Genre

convert = pd.DataFrame(book_data)
convert.to_csv("book_data.csv")

a = pd.read_csv("book_data.csv")
print(a)

1  Brown, Dan   5,094,805   Transworld   Crime, Thriller & Adventure   Crime, Thriller & Adventure
2  Rowling, J.K.   4,475,152   Bloomsbury   Children's Fiction   Children's Fiction
3  Rowling, J.K.   4,200,654   Bloomsbury   Children's Fiction   Children's Fiction
4  Rowling, J.K.   4,179,479   Bloomsbury   Children's Fiction   Children's Fiction
5  James, E. L.   3,758,936   Random House   Romance & Sagas   Romance & Sagas
6  Rowling, J.K.   3,583,215   Bloomsbury   Children's Fiction   Children's Fiction
7  Rowling, J.K.   3,484,047   Bloomsbury   Children's Fiction   Children's Fiction
8  Rowling, J.K.   3,377,906   Bloomsbury   Children's Fiction   Children's Fiction
9  Brown, Dan   3,193,946   Transworld   Crime, Thriller & Adventure   Crime, Thriller & Adventure
10  Rowling, J.K.   2,950,264   Bloomsbury   Children's Fiction   Children's Fiction
11  James, E. L.   2,479,784   Random House   Romance & Sagas   Romance & Sagas
12  Meyer, Stephenie   2,315,405   Little, Brown Book   Young Adult Fiction   Young Adult Fiction
13  Larsson, Stieg   2,233,570   Quercus   Crime, Thriller & Adventure   Crime, Thriller & Adventure
14  James, E. L.   2,193,928   Random House   Romance & Sagas   Romance & Sagas
15  Brown, Dan   2,183,031   Transworld   Crime, Thriller & Adventure   Crime, Thriller & Adventure
16  Meyer, Stephenie   2,152,737   Little, Brown Book   Young Adult Fiction   Young Adult Fiction
17  Brown, Dan   2,062,145   Transworld   Crime, Thriller & Adventure   Crime, Thriller & Adventure
18  Meyer, Stephenie   2,052,876   Little, Brown Book   Young Adult Fiction   Young Adult Fiction
19  Sebold, Alice   2,005,598   Pan Macmillan   General & Literary Fiction   General & Literary Fiction
20  Haddon, Mark   1,979,552   Random House   General & Literary Fiction   General & Literary Fiction
21  Brown, Dan   1,928,900   Transworld   Crime, Thriller & Adventure   Crime, Thriller & Adventure
22  Bryson, Bill   1,852,919   Transworld   Popular Science   Popular Science
23  Larsson, Stieg   1,814,784   Quercus   Crime, Thriller & Adventure   Crime, Thriller & Adventure
24  Meyer, Stephenie   1,787,118   Little, Brown Book   Young Adult Fiction   Young Adult Fiction
25  Carle, Eric   1,783,535   Penguin   Picture Books   Picture Books
26  Donaldson, Julia   1,781,269   Pan Macmillan   Picture Books   Picture Books
27  Oliver, Jamie   1,743,266   Penguin   Food & Drink: General   Food & Drink: General
28  Hosseini, Khaled   1,629,119   Bloomsbury   General & Literary Fiction   General & Literary Fiction
29  Nicholls, David   1,616,068   Hodder & Stoughton   General & Literary Fiction   General & Literary Fiction
30  Hosseini, Khaled   1,583,992   Bloomsbury   General & Literary Fiction   General & Literary Fiction
31  Larsson, Stieg   1,555,135   Quercus   Crime, Thriller & Adventure   Crime, Thriller & Adventure
32  Niffenegger, Audrey   1,546,886   Random House   General & Literary Fiction   General & Literary Fiction
33  McEwan, Ian   1,539,428   Random House   General & Literary Fiction   General & Literary Fiction
34  Fielding, Helen   1,508,205   Pan Macmillan   General & Literary Fiction   General & Literary Fiction
35  Clarkson, Jeremy   1,489,403   Penguin   Humour: Collections & General   Humour: Collections & General
36  Bernieres, Louis de   1,352,318   Random House   General & Literary Fiction   General & Literary Fiction
37  Kay, Peter   1,310,207   Random House   Autobiography: General   Autobiography: General
38  Martel, Yann   1,310,176   Canongate   General & Literary Fiction   General & Literary Fiction
39  Stephenson, Pamela   1,231,957   HarperCollins   Biography: The Arts   Biography: The Arts
40  Pelzer, Dave   1,217,712   Orion   Autobiography: General   Autobiography: General
41  Donaldson, Julia   1,208,711   Pan Macmillan   Picture Books   Picture Books
42  McCourt, Frank   1,204,058   HarperCollins   Autobiography: General   Autobiography: General
43  Faulks, Sebastian   1,184,967   Random House   General & Literary Fiction   General & Literary Fiction
44  Pullman, Philip   1,181,503   Scholastic Ltd.   Young Adult Fiction   Young Adult Fiction
45  Mosse, Kate   1,181,093   Orion   General & Literary Fiction   General & Literary Fiction
46  Rowling, J.K.   1,153,181   Bloomsbury   Science Fiction & Fantasy   Science Fiction & Fantasy
47  Stockett, Kathryn   1,132,336   Penguin   General & Literary Fiction   General & Literary Fiction
48  Parsons, Tony   1,130,802   HarperCollins   General & Literary Fiction   General & Literary Fiction
49  Golden, Arthur   1,126,337   Random House   General & Literary Fiction   General & Literary Fiction
50  McCall Smith, Alexander   1,115,549   Little, Brown Book   Crime, Thriller & Adventure   Crime, Thriller & Adventure
51  Hislop, Victoria   1,108,328   Headline   General & Literary Fiction   General & Literary Fiction
52  Ahern, Cecelia   1,107,379   HarperCollins   General & Literary Fiction   General & Literary Fiction
53  McKeith, Gillian   1,104,403   Penguin   Fitness & Diet   Fitness & Diet
54  Zafon, Carlos Ruiz   1,092,349   Orion   General & Literary Fiction   General & Literary Fiction
55  Rowling, J.K.   1,090,847   Bloomsbury   Children's Fiction   Children's Fiction
56  Grisham, John   1,087,262   Random House   Crime, Thriller & Adventure   Crime, Thriller & Adventure
57  Atkins, Robert C.   1,054,196   Random House   Fitness & Diet   Fitness & Diet
58  Pullman, Philip   1,037,160   Scholastic Ltd.   Young Adult Fiction   Young Adult Fiction
59  Truss, Lynne   1,023,688   Profile Books Group   Usage & Writing Guides   Usage & Writing Guides
60  Smith, Delia   1,015,956   Random House   Food & Drink: General   Food & Drink: General
61  Harris, Joanne   1,009,873   Transworld   General & Literary Fiction   General & Literary Fiction
62  Boyne, John   1,004,414   Random House Childrens Books G   Young Adult Fiction   Young Adult Fiction
63  Picoult, Jodi   1,003,780   Hodder & Stoughton   General & Literary Fiction   General & Literary Fiction
64  Pullman, Philip   1,002,314   Scholastic Ltd.   Young Adult Fiction   Young Adult Fiction
65  Lee, Harper   998,213   Random House   General & Literary Fiction   General & Literary Fiction
66  Gray, John   992,846   HarperCollins   Popular Culture & Media: General Interest   Popular Culture & Media: General Interest
67  French, Dawn   986,753   Random House   Autobiography: The Arts   Autobiography: The Arts
68  Lewycka, Marina   986,115   Penguin   General & Literary Fiction   General & Literary Fiction
69  Harris, Thomas   970,509   Random House   Crime, Thriller & Adventure   Crime, Thriller & Adventure
70  Tolkien, J. R. R.   967,466   HarperCollins   Science Fiction & Fantasy   Science Fiction & Fantasy
71  Moore, Michael   963,353   Penguin   Current Affairs & Issues   Current Affairs & Issues
72  Rubenfeld, Jed   962,515   Headline   Crime, Thriller & Adventure   Crime, Thriller & Adventure
73  Osbourne, Sharon   959,496   Little, Brown Book   Autobiography: The Arts   Autobiography: The Arts
74  Coelho, Paulo   956,114   HarperCollins   General & Literary Fiction   General & Literary Fiction
75  O'Grady, Paul   945,640   Transworld   Autobiography: The Arts   Autobiography: The Arts
76  Bryson, Bill   931,312   Transworld   Travel Writing   Travel Writing
77  Oliver, Jamie   925,425   Penguin   Food & Drink: General   Food & Drink: General
78  Fielding, Helen   924,695   Pan Macmillan   General & Literary Fiction   General & Literary Fiction
79  Oliver, Jamie   906,968   Penguin   National & Regional Cuisine   National & Regional Cuisine
80  McKenna, Paul   905,086   Transworld   Fitness & Diet   Fitness & Diet
81  Bryson, Bill   890,847   Transworld   Travel Writing   Travel Writing
82  Grisham, John   869,671   Random House   Crime, Thriller & Adventure   Crime, Thriller & Adventure
83  Levy, Andrea   869,659   Headline   General & Literary Fiction   General & Literary Fiction
84  Lawson, Nigella   862,602   Random House   Food & Drink: General   Food & Drink: General
85  Ali, Monica   856,540   Transworld   General & Literary Fiction   General & Literary Fiction
86  Edwards, Kim   845,858   Penguin   General & Literary Fiction   General & Literary Fiction
87  Donaldson, Julia   842,535   Pan Macmillan   Picture Books   Picture Books
88  Hornby, Nick   828,215   Penguin   General & Literary Fiction   General & Literary Fiction
89  Brand, Russell   820,563   Hodder & Stoughton   Autobiography: The Arts   Autobiography: The Arts
90  Dawkins, Richard   816,907   Transworld   Popular Science   Popular Science
91  0   816,585   D.C. Thomson   Children's Annuals   Children's Annuals
92  Smith, Zadie   815,586   Penguin   General & Literary Fiction   General & Literary Fiction
93  Morton, Kate   814,370   Pan Macmillan   General & Literary Fiction   General & Literary Fiction
94  Zusak, Markus   809,641   Transworld   General & Literary Fiction   General & Literary Fiction
95  Binchy, Maeve   808,900   Orion   General & Literary Fiction   General & Literary Fiction
96  Harris, Robert   807,311   Random House   General & Literary Fiction   General & Literary Fiction
97  Oliver, Jamie   794,201   Penguin   Food & Drink: General   Food & Drink: General
98  Collins, Suzanne   792,187   Scholastic Ltd.   Young Adult Fiction   Young Adult Fiction
99  Pelzer, Dave   791,507   Orion   Biography: General   Biography: General
100  Oliver, Jamie   791,095   Penguin   Food & Drink: General   Food & Drink: General
Empty DataFrame
Columns: [Unnamed: 0, Rank, Name, Author, Volumes, Publisher_name, Genres]
Index: []

In [43]:
#Q2
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")

driver.get('https://www.bcci.tv/')


Match_titles=[]
Seriess=[]
Places=[]
Dates=[]
Times=[]


titles=driver.find_elements_by_xpath("//div[@class ='match-bottom-info ']")
for i in titles[0:10]:
    Match_titles.append(i.text)
    
    
Seriess_tag=driver.find_elements_by_xpath("//span[@class ='ng-binding']")
for i in Seriess_tag[0:10]:
    Seriess.append(i.text)
    
Places_tag=driver.find_elements_by_xpath("//span[@class ='ng-binding ng-scope']")
for i in Places_tag[0:10]:
    Places.append(i.text)

Dates_tags=driver.find_elements_by_xpath("//div[@class ='match-card-left match-schedule']")
for i in Dates_tags[0:10]:
    Dates.append(i.text)

Times_tag=driver.find_elements_by_xpath("//div[@class ='match-card-left match-schedule']")
for i in Times_tag[0:10]:
    Times.append(i.text)
    
match_data=pd.DataFrame({})
match_data['Match_title']= Match_titles
match_data['Series']= Seriess
match_data['Place']= Places
match_data['Date']= Dates
match_data['Time']= Times


convert = pd.DataFrame(match_data)
convert.to_csv("match_data.csv")

a = pd.read_csv("match_data.csv")
print(a)

Empty DataFrame
Columns: [Unnamed: 0, Match_title, Series, Place, Date, Time]
Index: []

In [57]:
#Q5
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")

driver.get('https://github.com/')

url = "https://github.com/trending"
driver.get(url)


Repository_titles = []
Repository_descriptions = []
Contributors_counts = []
Language_useds = []

titles=driver.find_elements_by_xpath("//span[@class ='text-normal']")
for i in titles[0:10]:
    Repository_titles.append(i.text)
    

Repository_descriptions_tag=driver.find_elements_by_xpath("//p[@class ='col-9 color-fg-muted my-1 pr-4']")
for i in Repository_descriptions_tag[0:10]:
    Repository_descriptions.append(i.text)
    
Contributors_counts_tag=driver.find_elements_by_xpath("//a[@class ='Link--muted d-inline-block mr-3']")
for i in Contributors_counts_tag[0:10]:
    Contributors_counts.append(i.text)
    
Language_useds_tag=driver.find_elements_by_xpath("//span[@class ='d-inline-block ml-0 mr-3']")
for i in Language_useds_tag[0:10]:
    Language_useds.append(i.text)
    
    
github_data=pd.DataFrame({})
github_data['Repository_title']= Repository_titles
github_data['Repository_description']= Repository_descriptions
github_data['Contributors_count']= Contributors_counts
github_data['Language_used']= Language_useds


convert = pd.DataFrame(github_data)
convert.to_csv("github_data.csv")

a = pd.read_csv("github_data.csv")
print(a)

   Unnamed: 0    Repository_title  \
0           0   input-output-hk /
1           1          faker-js /
2           2             Marak /
3           3        cybersecsi /
4           4           QSCTech /
5           5  BoltzmannEntropy /
6           6        bevyengine /
7           7   input-output-hk /
8           8      521xueweihan /
9           9          Asabeneh /

                              Repository_description Contributors_count  \
0  Generate massive amounts of fake data in the b...              1,115
1                 get colors in your node.js console                466
2  A repo to automatically generate and keep upda...                970
3                                       浙江大学课程攻略共享计划                115
4  It is my belief that you the postgraduate stud...              4,644
5  A refreshingly simple data-driven game engine ...                414
6                    The Plutus application platform                251
7  分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...                 14
8  30 days of JavaScript programming challenge is...             24,623
9  WordPress Develop, Git-ified. Synced from git:...              7,266

  Language_used
0    JavaScript
1    JavaScript
2        Python
3          HTML
4          Rust
5       Haskell
6        Python
7    JavaScript
8           PHP
9            Go

In [22]:
#Q3

import selenium
import pandas as pd
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")

driver.get('https://www.guru99.com/')


url = 'https://www.guru99.com/exception-handling-selenium.html'
driver.get(url)
url = 'https://www.guru99.com/exception-handling-selenium.html'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')


selenium_table= soup.find('table',class_ = 'table table-striped')
for i in soup.find_all('tbody'):
    rows = i.find_all('tr')
    for row in rows:
        excp_name=row.find_all('td')[2].text
        print(excp_name)

In [20]:
#Q4

import selenium
import pandas as pd
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")

driver.get('http://statisticstimes.com/')

eco_btn = driver.find_element_by_xpath("//i[@class='fa fa-caret-down']")
eco_btn.click()

#driver.get('https://www.statisticstimes.com/economy/india-statistics.php')

#state_btn = driver.find_element_by_xpath("//a[@class='ec']")
#state_btn.click()

driver.get('https://www.statisticstimes.com/economy/india/indian-states-gdp.php')

#url = 'https://www.statisticstimes.com/economy/india/indian-states-gdp.php'
#response = requests.get(url)
#soup = BeautifulSoup(response.text, 'html.parser')
    
    
#book_table= soup.find('table',class_ = 'display dataTable')

#for team in book_table.find_all('tbody'):
 #   rows = team.find_all('tr')
  #  for row in rows:
   #     state_rank = row.find('td', class_ = 'data1').text.strip()
        #book_name=row.find_all('td',class_ = 'left')[2].text
    #    print(state_rank)
                        
Ranks=[]
States=[]
GSDPs=[]
Shares=[]
GDPs=[]

Ranks_tag=driver.find_elements_by_xpath("//td[@class='data1']")
for i in Ranks_tag[0:10]:
    Ranks.append(i.text)
    
States_tag=driver.find_elements_by_xpath("//td[@class='name']")
for i in States_tag[0:10]:
    States.append(i.text)
    
GSDPs_tag=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for i in GSDPs_tag[0:10]:
    GSDPs.append(i.text)
    
Shares_tag=driver.find_elements_by_xpath("//td[@class='data']")
for i in Shares_tag[0:10]:
    Shares.append(i.text)
    
GDPs_tag=driver.find_elements_by_xpath("//td[@class='data']")
for i in GDPs_tag[0:10]:
    GDPs.append(i.text)
    
gdp_data=pd.DataFrame({})
gdp_data['Rank']= Ranks
gdp_data['State']= States
gdp_data['GSDP']= GSDPs
gdp_data['Share']= Shares
gdp_data['GDP']= GDPs 

convert = pd.DataFrame(gdp_data)
convert.to_csv("gdp_data.csv")

a = pd.read_csv("gdp_data.csv")
print(a)

   Unnamed: 0  Rank           State       GSDP      Share        GDP
0           0     1     Maharashtra  2,632,792          -          -
1           1     2      Tamil Nadu  1,630,208     13.94%     13.94%
2           2     3   Uttar Pradesh  1,584,764    399.921    399.921
3           3     4         Gujarat  1,502,899          -          -
4           4     5       Karnataka  1,493,127  2,039,074  2,039,074
5           5     6     West Bengal  1,089,898  1,845,853  1,845,853
6           6     7       Rajasthan    942,586      8.63%      8.63%
7           7     8  Andhra Pradesh    862,957    247.629    247.629
8           8     9       Telangana    861,031  1,312,929  1,312,929
9           9    10  Madhya Pradesh    809,592  1,215,307  1,215,307

In [16]:
#Q6
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import ElementNotInteractableException
driver = webdriver.Chrome(r"C:\Users\Rutuja\Downloads\chromedriver_win32\chromedriver.exe")

driver.get('https://www.billboard.com/charts/hot-100/')

Song_names=[]
Artist_names=[]
Last_week_ranks=[]
Peak_ranks=[]
Weeks_on_boards=[]


titles=driver.find_elements_by_id('title-of-a-story')
for i in titles[0:10]:
    Song_names.append(i.text)
    
Artist_names_tag=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in Artist_names_tag[0:10]:
    Artist_names.append(i.text)
    
Last_week_ranks_tag=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in Last_week_ranks_tag[0:10]:
    Last_week_ranks.append(i.text)
    
Peak_ranks_tag=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in Peak_ranks_tag[0:10]:
    Peak_ranks.append(i.text)
    
Weeks_on_boards_tag=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in Weeks_on_boards_tag[0:10]:
    Weeks_on_boards.append(i.text)
    
song_data=pd.DataFrame({})
song_data['Song_name']= Song_names
song_data['Artist_name']= Artist_names
song_data['Last_week_rank']= Last_week_ranks == 10
song_data['Peak_rank']= Peak_ranks ==10
song_data['Weeks_on_board']= Weeks_on_boards ==10


convert = pd.DataFrame(song_data)
convert.to_csv("song_data.csv")

a = pd.read_csv("song_data.csv")
print(a)

   Unnamed: 0   Song_name                                        Artist_name  \
0           0         NaN                      The Kid LAROI & Justin Bieber
1           1         NaN                                      Glass Animals
2           2         NaN                                         Ed Sheeran
3           3         NaN  Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...
4           4         NaN                            Lil Nas X & Jack Harlow
5           5         NaN                              Elton John & Dua Lipa
6           6  Easy On Me                                         Ed Sheeran
7           7         NaN                                           Doja Cat
8           8         NaN                                        Kodak Black
9           9         NaN                                              GAYLE

   Last_week_rank  Peak_rank  Weeks_on_board
0           False      False           False
1           False      False           False
2           False      False           False
3           False      False           False
4           False      False           False
5           False      False           False
6           False      False           False
7           False      False           False
8           False      False           False
9           False      False           False